<!DOCTYPE html>
<html>
<head>
	<title>iMarket</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<style>
		input, textarea { margin-bottom: 6px; }
	</style>
</head>
<body>
	<div class="container">
		<h1>New Post</h1>
		<form method="post" enctype="multipart/form-data">
			<input name="title"
				   class="form-control"
				   placeholder="Title"
				   autofocus>
			<textarea name="detail"
					  class="form-control"
					  placeholder="Detail"
					  rows="8"></textarea>
			<input type="file" accept="image/*" name="photo">
			<button type="submit"
					class="btn btn-primary"
					>Post</button>
		</form>
	</div>
</body>
</html>

